$grid-size: 200px;
$tile-gap: 5px;
$tile-radius: 5px;
$tile-size: ($grid-size - (4 * $tile-gap)) / 4;
$primary-tile-color: #776e65;
$secondary-tile-color: #f9f6f2;

* {
  margin: 0;
}
html, body {
  height: 100%;
}

.app-page {
  position: relative;
  width: 100%;
  min-height: 100%;
}

.page-wrapper {
  margin-top: 20px;
  position: absolute;
  top: 80px;
  bottom: 80px;
  left: 0;
  right: 0;
}

.topbar {
  @extend .well;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: $brand-primary;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  margin: 0;
  z-index: 1000;
}

.footer {
  @extend .well;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  margin: 0;
  z-index: 1000;
}

.logo {
  color: #fff;
  line-height: 37px;
}

.grid {
  font-family: 'Oxygen', sans-serif;
  font-size: 0;
  background: #bbada0;
  padding: $tile-gap / 2;
  border-radius: $tile-radius;
  width: $grid-size + 5;
  height: $grid-size + 5;
  margin: 0 auto;

  &.disabled {
    opacity: 0.4;
  }
}

.tile {
  display: block;
  float: left;
  font-size: $tile-size / 2.7;
  width: $tile-size;
  height: $tile-size;
  margin: $tile-gap / 2;
  border-radius: $tile-radius;
  text-align: center;
  line-height: $tile-size;
}

.tile-0 {
  background: #cdc1b4;
}

.tile-1 {
  color: $primary-tile-color;
  background: #eee4da;
}

.tile-2 {
  color: $primary-tile-color;
  background: #ede0c8;
}

.tile-3 {
  color: $secondary-tile-color;
  background: #f2b179;
}

.tile-4 {
  color: $secondary-tile-color;
  background: #f59563;
}

.tile-5 {
  color: $secondary-tile-color;
  background: #f67c5f;
}

.tile-6 {
  color: $secondary-tile-color;
  background: #f65e3b;
}

.tile-7 {
  color: $secondary-tile-color;
  background: #edcf72;
}

.tile-8 {
  color: $secondary-tile-color;
  background: #edcc61;
}

.tile-9 {
  color: $secondary-tile-color;
  background: #edc850;
}

.tile-10 {
  color: $secondary-tile-color;
  background: #edc53f;
}

.tile-11 {
  color: $secondary-tile-color;
  background: #edc22e;
}

.tile-gt-11 {
  color: $secondary-tile-color;
  background: #3c3a32;
}

.number-input {
  .form-control-feedback {
    right: 83px;
  }
}