$padding-base-vertical:     6px !default;
$padding-base-horizontal:   9px !default;

$padding-large-vertical:    12px !default;
$padding-large-horizontal:  18px !default;

$padding-small-vertical:    4px !default;
$padding-small-horizontal:  6px !default;

$padding-xs-vertical:       1px !default;
$padding-xs-horizontal:     4px !default;

$icon-font-path: '../../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
$fa-font-path: '../../../node_modules/font-awesome/fonts';
$octicons-font-path: '../../../node_modules/octicons/octicons/';